EbookLib~=0.18
requests~=2.32.3
urllib3~=2.3.0
protobuf~=5.29.3
beautifulsoup4~=4.13.3
deep-translator~=1.11.4
jieba~=0.42.1
undetected-chromedriver~=3.5.5
selenium~=4.28.1
fake-useragent~=2.0.3
Brotli~=1.1.0
PyQT5~=5.15.11
google.generativeai~=0.8.4
